body {
  background: #ffffff;
}
/* Head Part */
.container {
  postion: relative;
  height: 100vh;
  width: 100%;
}
.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200vh;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
  gap: 40px;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 100%;
  background: #f6f1e8;
  border-radius: 25px;
}

.subjectName {
  width: 100%;
  font-size: 30px;
}

@keyframes frombotFadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation {
  animation: frombotFadein 1s;
}
.Subjects img {
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
}
.Subjects img:hover {
  scale: 1.1;
  cursor: pointer;
  transform: translate(-0px, -20px);
}
.flatstyle {
  cursor: pointer;
}

.menu-panel {
  display: none;
  flex-direction: column;
  position: absolute;
  border-radius: 10px;
  border: 1px solid black;
}

.menuBtn {
  height: 50px;
  position: absolute;
  top: 60px;
  right: 30px;
}
.logo {
  height: 120px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.aufmean {
  font-size: 40px;
  position: absolute;
  top: -25px;
  left: 100px;
}
.menu-panel {
  top: 110px;
  right: 30px;
  height: 150px;
  width: 250px;
}
/* Button Flat */
.flatstyle {
  background-color: #ffffff;
  height: 50px;
  border: none;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}
.flatstyle:hover {
  background-color: #ffffff;
  height: 50px;
  border: none;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  color: brown;
}
.home {
  font-family: "Brush Script MT", cursive;
}
.about-section {
  position: absolute;
  top: 210px;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduction {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 799px) and (min-width: 300px) {
  /* Angela Photo */
  .about-section {
    flex-direction: column;
  }
  .Angela-Photo {
    width: 350px;
    margin-bottom: -20px;
  }
  .intro1 {
    display: none;
  }
  .intro2 {
    font-size: 24px;
    margin-bottom: -20px;
  }
  .intro3 {
    font-size: 20px;
  }

  /*  Subjects Action Button  */

  .Subjects {
    height: 300px;
    width: 350px;
  }

  .Subjects img {
    height: 250px;
    width: 350px;
  }
}

@media only screen and (max-width: 999px) and (min-width: 800px) {
  /* Angela Photo */
  .about-section {
    gap: 1px;
  }
  .Angela-Photo {
    width: 350px;
  }
  .intro1 {
    font-size: 36px;
    margin-bottom: -25px;
  }
  .intro2 {
    font-size: 24px;
    margin-bottom: -20px;
  }
  .intro3 {
    font-size: 20px;
  }

  /*  Subjects Action Button  */
  .Subjects {
    height: 300px;
    width: 400px;
  }

  .Subjects img {
    height: 250px;
    width: 400px;
  }

  .STS {
    margin-left: 60%;
  }
  .RLW {
    margin-left: -60%;
  }
  .AHELECT {
    margin-left: 60%;
  }
  .PATHFIT {
    margin-left: -60%;
  }
  .NSTP {
    margin-left: 60%;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 1000px) {
  /* Angela Photo */
  .about-section {
    gap: 40px;
  }
  .Angela-Photo {
    width: 450px;
  }
  .intro1 {
    font-size: 70px;
    margin-bottom: -45px;
  }
  .intro2 {
    font-size: 36px;
    margin-bottom: -25px;
  }
  .intro3 {
    font-size: 26px;
  }

  /*  Subjects Action Button  */
  .Subjects {
    height: 300px;
    width: 400px;
  }

  .Subjects img {
    height: 250px;
    width: 400px;
  }

  .STS {
    margin-left: 50%;
  }
  .RLW {
    margin-left: -50%;
  }
  .AHELECT {
    margin-left: 50%;
  }
  .PATHFIT {
    margin-left: -50%;
  }
  .NSTP {
    margin-left: 50%;
  }
}

@media only screen and (max-width: 1499px) and (min-width: 1200px) {
  /* Angela Photo */
  .about-section {
    gap: 1px;
  }
  .Angela-Photo {
    width: 450px;
  }
  .intro1 {
    font-size: 70px;
    margin-bottom: -45px;
  }
  .intro2 {
    font-size: 36px;
    margin-bottom: -25px;
  }
  .intro3 {
    font-size: 26px;
  }

  /*  Subjects Action Button  */
  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250vh;
    width: 80%;
    margin-left: 10%;
    gap: 40px;
  }

  .Subjects {
    height: 400px;
    width: 450px;
  }

  .Subjects img {
    height: 350px;
    width: 450px;
  }

  .STS {
    margin-left: 50%;
  }
  .RLW {
    margin-left: -50%;
  }
  .AHELECT {
    margin-left: 50%;
  }
  .PATHFIT {
    margin-left: -50%;
  }
  .NSTP {
    margin-left: 50%;
  }
}

@media only screen and (min-width: 1500px) {
  /* Angela Photo */
  .about-section {
    gap: 1px;
  }
  .Angela-Photo {
    width: 450px;
  }
  .intro1 {
    font-size: 70px;
    margin-bottom: -45px;
  }
  .intro2 {
    font-size: 36px;
    margin-bottom: -25px;
  }
  .intro3 {
    font-size: 26px;
  }

  /*  Subjects Action Button  */
  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250vh;
    width: 80%;
    margin-left: 10%;
    gap: 40px;
  }

  .Subjects {
    height: 400px;
    width: 450px;
  }

  .Subjects img {
    height: 350px;
    width: 450px;
  }

  .STS {
    margin-left: 40%;
  }
  .RLW {
    margin-left: -40%;
  }
  .AHELECT {
    margin-left: 40%;
  }
  .PATHFIT {
    margin-left: -40%;
  }
  .NSTP {
    margin-left: 40%;
  }
}
