body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.Container{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.TitleHead{
  position: relative;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Auflogo{
  height: 90px;
  width: 65px;
}

.FlatStyle{
  background-color: #FFFFFF;
  border: none;
  height: 50px;
  color: white;
  text-align: center;
  color: #000000;
  padding: 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 13px;
}

.FlatStyle:hover{
  background-color: #4CAF50;
  border: none;
  color: white;
  height: 50px;
  text-align: center;
  color: #FFFFFF;
  padding: 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 13px;
}
.welcomesign{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 50%;
}
.welcomesign img{
  height: 100%;
  width: 100%;
}

.welcomeImg{
  height: 50%;
  width: 50%;
  border-radius: 15px;
}

.slides{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
}

.slide1{

}

.slide2{
  justify-content: center;
  gap: 40px;
  background: linear-gradient(454deg, #4f4080, #9553ff)
}

.slide3{
  justify-content: center;
  gap: 40px;
  background: linear-gradient(454deg, #404c80, #53ff88)
}
